.custom-fields-item {
    height: 48px;
    display: flex;
    align-items: center;
}

.custom-fields-list-header {
    height: 48px;
    display: flex;
    align-items: center;
    color: #757575;
}

.custom-fields-item-controls {
    font-size: 1.7em;
    cursor: pointer;
}

.custom-fields-color-danger {
    color: #F44336;
}

.field-lower{
    text-transform: lowercase;
}

.admin .panel.panel-default .panel-heading {
    font-size: 1.5em;
}